@import helper._
@(message: String, output: String, formData: Form[ApiCallData])(implicit request: RequestHeader, m: MessagesProvider)
<html>
    <head>
        <link rel="stylesheet" href='@controllers.routes.Assets.versioned("stylesheets/main.css")' >
        <title>mkm2csv</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">mkm2csv</h1>
            <p class="lead">
                Enter your mkm available from <a href="https://www.cardmarket.com/en/Magic/MainPage/showMyAccount">
                MKM / My Account</a> below to access your data.</p>

            <p>By clicking ok, this program will place exactly two calls: One get auth call and one get stock call.</p>
            <p>No other calls will be made. This program is open source, so please go, verify it:
                <a href="">
                Github repo</a></p>

            @if(message == "") {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Disclaimer:</strong>
                    By entering your key you allow this program to use the mkm api to get your data.
                </div>
            } else {
                <div class="success alert-success alert-dismissible fade show" role="alert">
                @message
                </div>
            }

            <hr class="my-4" />

            @defining(List('_showConstraints->false, 'class->"form-control")) { attr =>
                @form(controllers.routes.HomeController.post) {
                    @helper.CSRF.formField
                    @inputText(formData("appToken"), attr: _*)
                    @inputText(formData("appSecret"), attr: _*)
                    @inputText(formData("accessToken"), attr: _*)
                    @inputText(formData("accessTokenSecret"), attr: _*)
                    <button class="btn btn-default btn-lg" type="submit">OK</button>
                    @defining(if(output == "") "Your csv will appear here." else output.trim) { res =>
                        <textarea class="form-control" id="input" rows="5">@res</textarea>
                    }
                }
            }
        </div>
    </body>
</html>
